* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    place-content: center;

    margin: 10vh 0;
}

ul {
    list-style: none;
}

button {
    padding: 5px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    width: 500px;

    row-gap: 5vh;
}

.task {
    display: flex;
    column-gap: 10px;
}

#add-task {
    width: 100%;
    align-self: center;
}

#add-task input {
    width: 80%;
    padding: 5px;
}